/*Personalizando colores de bootstrap*/
:root {
  --bs-primary: #a60202;
  --bs-primary-rgb: 166, 2, 2;
}
* {
  font-family: sans-serif;
}

/* Dropdown Bootstrap */
.dropdown-menu {
  --bs-dropdown-bg: #a60202;
  --bs-dropdown-link-color: #ffffff;

  --bs-dropdown-link-hover-bg: #7e0101;
  --bs-dropdown-link-hover-color: #ffffff;

  --bs-dropdown-link-active-bg: #5c0000;
  --bs-dropdown-link-active-color: #ffffff;
}
/*centrando menu deplegable*/
/* MÓVIL: comportamiento normal */
.nav-item.dropdown .dropdown-menu {
  left: 0;
  transform: none;
}

@media (max-width: 480px) {
  #carouselExampleIndicators {
    height: 50vh;
    overflow: hidden;
  }

  #carouselExampleIndicators .carousel-inner,
  #carouselExampleIndicators .carousel-item,
  #carouselExampleIndicators .carousel-item img {
    height: 100%;
  }
}

/* DESKTOP (md en adelante): centrado */
@media (min-width: 768px) {
  .nav-item.dropdown .dropdown-menu {
    left: 50%;
    transform: translateX(-50%);
  }
}

/* CONTENEDOR DEL CAROUSEL */
#carouselExampleIndicators {
  max-height: 90dvh;
  overflow: hidden;
}

/* ESTRUCTURA INTERNA */
#carouselExampleIndicators .carousel-inner {
  height: 100%;
}

/* ITEM */

#carouselExampleIndicators .carousel-item {
  position: relative;
}

#carouselExampleIndicators .carousel-item::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

#carouselExampleIndicators .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
